# Rename this file to terraform.tfvars afte substituting the values

virtual_machine_name = <VM Name you would like to have>

location = <Location>

admin_username = <someusername>

prefix = <prefix for your resources names>

susbcription_id = <Subscription ID of your Azure account>

master_node_count = <No of Master Nodes required>

worker_node_count = <No of Worker Nodes required>

master_inbound_ports = ["22", "443", "80"]

worker_inbound_ports = ["8080", "22"]

master_vm_size = "Standard_D4_v3"

worker_vm_size = "Standard_D2_v3"

destination_ssh_key_path = </home/<someusername>/.ssh/authorized_keys>
